.content {
  background: #eee;
  border: 1px solid;
  border-color: #eee;
  padding: 1%;
  width: 80%;
  color: #595959;
  font-family: 'Gotham 4r';
  margin: 2%;
  border-radius: 8px;
  position: relative;
}
#footer {
  color: gray;
  font-size: 0.6em;
  line-height: 1.2em;
  background-color: white;
  margin: 0
}
