@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";
@import "bower_components/neat/app/assets/stylesheets/neat-helpers";
@import "content";
@import "responsive";

#footer {
  color: gray;
  font-size: 0.6em;
  line-height: 1.2em;
  background-color: white;
  margin: 0
}
